.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
}

.left-control {
  z-index: 5;
  outline: none;
  margin: auto -20px auto 0;
}

.right-control {
  z-index: 1;
  outline: none;
  margin: auto 0px auto -20px;
}
svg path {
  fill: #757575;
}

svg:hover path {
  fill: #222;
}
.arrow-box {
  border: 1px solid #dfe1e5;
  border-radius: 50%;
  background-color: #fff;
  color: #757575;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 36px;
  width: 36px;
  position: relative;
}
.arrow {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
}

.slideshow {
  height: 200px;
  width: 600px;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
}

.slideshow > div {
  display: flex;
  width: 2000px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
}

.slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
  background-position: 0 -200px;
}
.slideshow .mover-2 {
  opacity: 0;
  transition: opacity 2s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}

.slideshow:hover .mover-2 {
  opacity: 1;
}
